
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navchang ">
    <div class="container">
    <a class="navbar-brand" routerLink="/">T-<span class="text-info">Movies</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link " [routerLinkActiveOptions]="{'exact':true}" routerLink="/" aria-current="page"><span class="text-info">H</span>ome <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/Movies"><span class="text-info">M</span>ovies</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/tv"><span class="text-info">T</span>V shows</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/Categories"><span class="text-info">C</span>ategories</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

