<!-- <div class="container-fluid">
<div class="card h-100" >
  <a [routerLink]="['/details',popularTv.id]" >
  <img  [src]="'https://image.tmdb.org/t/p/w300'+popularTv.poster_path " class="card-img-top" alt="Hollywood Sign on The Hill"/></a>
  <div class="card-body">
    <h5 class="card-title text-info g">{{ popularTv.original_name }}</h5>
    <span class="movie_info">{{popularTv.release_date | date :'yyyy'}}</span>
  </div>
</div> -->
<div class="container-fluid">
  <div class="movie-card card h-100">
    <div class="rating">{{ popularTv.vote_average }}/10</div>
    <a [routerLink]="['/showMovie', popularTv.id]">
      <img [src]="'https://image.tmdb.org/t/p/w300' + popularTv.poster_path" class="card-img-top" alt="Movie Poster" />
    </a>
    <!-- <div class="card-body">
      <h5 class="card-title text-info">{{ popularTv.original_name }}</h5>
      <p class="card-text">Release Year: {{ popularTv.release_date | date: 'yyyy' }}</p>
      <button class="btn btn-primary">Watch Trailer</button>
    </div> -->
  </div>
</div>


