<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" ">
  <!-- Footer -->
  <footer class="text-center  text-white navbar-dark bg-primary" >
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5 dd">
          <!-- Grid column -->
          
          <div class="col-md-2">
            <h6 class="text-uppercase ">
              <a routerLinkActive="active" class="nav-link" routerLink="/Movies" class="text-white nav-link"><span class="text-info">M</span>ovies</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLinkActive="active" class="nav-link" routerLink="/tv" class="text-white dd"><span class="text-info">T</span>V shows</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a routerLinkActive="active" class="nav-link" routerLink="/Categories" class="text-white dd"><span class="text-info">C</span>ategories</a>
            </h6>
          </div>

        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
               <span class="text-info">T</span>Movies is the best free streaming site 2023, where you can watch movies online for free, no registration required. With a large database and great features, we're confident that <span class="text-info">T</span>Movies is the best free online movie site in the space you just can't miss!
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="https://www.facebook.com/morad.tizo.1" class="text-white me-4">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://mail.google.com/mail/u/2/#inbox" class="text-white me-4">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/morad_10s/" class="text-white me-4">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/mourad-tizougarine-175bb7221/" class="text-white me-4">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/moradtizo" class="text-white me-4">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="https://github.com/moradtizo"
         >github.com/moradtizo</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->